language: scala

before_install:
   - sudo apt-get install libblas*
   - sudo apt-get install liblapack*

install: ./install-dependencies.sh

scala:
   - 2.11.7

jdk:
  - oraclejdk8

script: "sbt clean coverage test"

after_success: "sbt coveralls"