language: scala

before_script:
   - sudo apt-get install libblas*
   - sudo apt-get install liblapack*
   - sudo update-alternatives --display libblas.so.3 

scala:
   - 2.11.7

jdk:
  - oraclejdk8

